[[source]]
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = false
name = "pypi"

[packages]
Django = ">=2.1"
"psycopg2-binary" = "==2.7.5"
ipython = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
"jinja2" = "*"
werkzeug = "*"

[requires]
python_version = "3.5"

[pipenv]
allow_prereleases = true

[dev-packages]
ipdb = "*"
